<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <style>
  .userstatus {
    font-style: italic;
  }
  </style>
</head>
<body>

  <% if session[:error] %>
    <div class="message">
      <%= session.delete(:error) %>
    </div>
  <% end %>

  <% if session[:success] %>
    <div class="message">
      <%= session.delete(:success) %>
    </div>
  <% end %>

  <%= yield %>
  

</body>
</html>